/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 103px;
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: var(--main-width);
  margin-top:100px;
  margin-bottom: 100px;
  border: solid 2px var(--color-acent);
  padding: var(--header-padding);
  font-family: var(--acent-font), fantasy;
  background-color: var(--color-white);
}

.header__title{
  font-size:var(--header-title-font-size);
}

.header__post-title{
  font-size:var(--header-post-title-font-size);
  text-transform: uppercase;
}

.main{
  width: var(--main-width);
}

.image{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__content{
  border: 2px solid var(--color-acent);
  font-size: var(--main-font-size);
  background-color: var(--color-white);
  
}

.main__content-title{
  min-height:30px ;
  padding: 5px 12px;
  font-size: 18px;
  font-variation-settings: "wght" var(--main-title-weight);
}

.main__content-section{
  padding: 25px;
}

.main__content-text{ 
  display: flex;
  flex-direction: column;
  gap:27px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 21px;
  max-width: 646px;
}


.card__icon-button{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 43px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-main{
  position: relative;
  border: solid 2px var(--color-acent);
  overflow: hidden;
  font-family: var(--acent-font), fantasy;
  background-color: var(--color-white);
  cursor: pointer;
}

.card__like-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: solid 2px var(--color-acent);
  font-size: 14px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap:3px;
  align-self: flex-end;
}
.block-image{
  position: relative;
  width: 100%;
  max-width: 100%;
  border-top: 2px solid var(--color-acent);
  border-bottom:2px solid var(--color-acent);
  overflow: hidden;
  aspect-ratio: 1/1;
}

.label{
  position:absolute;
  top:25px;
  right:25px;
  z-index: 3;
  opacity: 0.5;
  font-family: var(--acent-font), fantasy;
  font-size:14px;
  -webkit-text-stroke:0.5px #fff;
  mix-blend-mode:hard-light;
  text-stroke:1px var(--color-white);
}

@supports not (text-stroke: 0.5px) {
  .label {
      text-shadow: 
          -0.5px -0.5px 0 var(--color-white),
          0.5px -0.5px 0 var(--color-white),
          -0.5px 0.5px 0 var(--color-white),
          0.5px 0.5px 0 var(--color-white);
  }
}

.button__save{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  width: 335px;
  height: 51px;
  margin-top: 50px;
  font-size:14px;
}

.button__floppy{
  width: 21px;
  height: 21px;
  fill: var(--color-white);
  mix-blend-mode: difference;
}

.dialog__floppy{
  width: 39px;
  height: 39px;
}

.dialog[open]{
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  column-gap:20px;
  row-gap: 30px;
  width: 357px;
  border: 2px solid var(--color-acent);
  padding: 30px;
  font-family: var(--acent-font), fantasy;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.dialog::backdrop{
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__text{
  width: 234px;
  font-size:14px;
  line-height: 150%;
}

.ok{
  grid-column: span 2;
  height: 38px;
  font-size:14px;
  text-transform:uppercase;
}
:focus{
  outline: none;
}

.button__text{
  position: relative;
  z-index:  1;
  color: var(--color-white);
  mix-blend-mode: difference;
}

.main__content-list{
  display: flex;
  flex-direction: column;
  gap:50px;
}
.brightness{
  filter:brightness(0.5);
}
.contrast{
  filter:contrast(0.4);
}

.hue-rotate{
  filter: hue-rotate(90deg);
}

.grayscale{
  filter:grayscale(0.5);
}

.saturate{
  filter:saturate(0.4);
}

.sepia{
  filter:sepia(0.2);
}

.invert-saturate{
  filter:invert(0.14);
  filter:saturate(0.4);
  
}
@media (width < 376px){
  .button__save{
    flex-direction: column;
    width: 306px;
    height: 84px;
  }
  .dialog[open]{
    width: 341px;
  }
  .button__floppy{
    width: 28px;
    height: 28px;
  }
  .label{
    right:13px;
    top:25px;
  }
  .dialog[open]{
    width: 341px;
    overflow: hidden;
  }
}